    .box {
        display: block;
        width: 400px;
        height: 500px;
        margin: 400px 682px;
        justify-content: center;
        align-items: center;
        background-color: rgb(141, 130, 238);
        overflow: hidden;
        position: relative;
    }
    
    .inputField {
        width: 12vw;
        height: 4vh;
        display: flex;
        border: 2px solid black;
        padding: 20px;
        border-radius: 12px;
        justify-content: center;
        align-items: center;
    }
    
    .wave {
        opacity: 0.3s;
        position: absolute;
        background: rgb(249, 250, 250);
        top: 120%;
        left: 50%;
        width: 50rem;
        height: 50rem;
        margin-left: -25rem;
        margin-top: -20rem;
        transform-origin: 50% 48%;
        border-radius: 43%;
        animation: drift 3000ms infinite linear;
        z-index: 1;
    }
    
    .wave .-two {
        animation: drift 5000ms infinite linear;
        z-index: 2;
        opacity: 0.2;
    }
    
    .wave .-two {
        animation: drift 7000ms infinite linear;
        opacity: 0.1;
        z-index: 3;
    }
    
    .box :after {
        content: "";
        display: block;
        left: 0px;
        top: 0px;
        transform: translate 3d(0, 0, 0);
        z-index: 4;
    }
    
    @keyframes drift {
        from {
            transform: rotate(0deg);
        }
        from {
            transform: rotate(360deg);
        }
    }
    
    .info {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 45%;
        z-index: 7;
        justify-content: center;
        margin-left: 70px;
    }
    
    .fa-street-view {
        animation: rotates 3s linear infinite alternate;
    }
    
    @keyframes rotates {
        from {
            transform: translateX(-0.5rem);
        }
        to {
            transform: translateX(0.5rem);
        }
    }